In [9]:
# Library to connect to Oracle
import cx_Oracle

# patch to instantclient_21_3
#cx_Oracle.init_oracle_client(lib_dir=r"C:\\oracle\\instantclient_21_3")


# Variables to connect to Oracle
username = "ADMIN"
password = "Q1w2e3r4t5y6u7i8o9p0"
dsn = '(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=adb.sa-vinhedo-1.oraclecloud.com))(connect_data=(service_name=g19cc7d208b76c0_adbarticle01_high.adb.oraclecloud.com))(security=(ssl_server_cert_dn="CN=adb.sa-vinhedo-1.oraclecloud.com, O=Oracle Corporation, L=Redwood City, ST=California, C=US")))'

# Connect to Oracle
connection = cx_Oracle.connect(user=username, password=password, dsn=dsn)

# Drop table if it exists
cursor.execute("""begin
			        execute immediate 'drop table data_tab';
			        exception when others then if sqlcode <> -942 then raise; end if;
		            end;""")

#Create table
cursor.execute("""create table data_tab(
                                        ano INT, 
                                        mes INT, 
                                        id INT, 
                                        nome VARCHAR(255), 
                                        siglaPartido VARCHAR(255), 
                                        siglaUf VARCHAR(5), 
                                        urlFoto VARCHAR(255), 
                                        email VARCHAR(255), 
                                        tipoDespesa VARCHAR(255), 
                                        dataDocumento VARCHAR(255), 
                                        valorDocumento INT, 
                                        urlDocumento VARCHAR(255), 
                                        nomeFornecedor VARCHAR(255), 
                                        cnpjCpfFornecedor VARCHAR(255))""")

connection.commit()

In [ ]:
# library to insert data to database
from sqlalchemy import create_engine
import pandas as pd

# import data from csv
main = pd.read_csv('expenses.csv' , sep=',')

# Variables to connect to Oracle
username = "ADMIN"
password="topsecret123"
dsn = '(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=adb.sa-vinhedo-1.oraclecloud.com))(connect_data=(service_name=g19cc7d208b76c0_adbarticle01_high.adb.oraclecloud.com))(security=(ssl_server_cert_dn="CN=adb.sa-vinhedo-1.oraclecloud.com, O=Oracle Corporation, L=Redwood City, ST=California, C=US")))'

# create engine
engine = create_engine(f'oracle://{username}:{password}@{dsn}/?encoding=UTF-8&nencoding=UTF-8', max_identifier_length=128)

# insert dataframe into oracle database 
main.to_sql('data_tab', con = engine, if_exists = 'append', chunksize=1000)